#drag-source {
     
          position: absolute;
          left: 0;
          top: 0;
          width: 100px; /* Adjust the width and height as needed */
          height: 100px;
          margin: 20px;
        
   }
   /* #drop-target {
     width: 400px;
     height: 400px;
     border: 1px solid black;
     margin: 10px;
   } */